:root {
  --sw-white: #fff;
  --sw-black: #000;
  --sw-silver: #ccc;
  --sw-green: hsla(160, 100%, 37%, 1);
  --sw-green-fade: hsla(160, 100%, 37%, 0.5);
  --sw-green-selected: hsla(160, 89%, 21%, 0.5);
  --sw-orange: #fcae1e;
}